# conda create -n psi_sampler python=3.10 -y

# pip install torch==2.5.0 torchvision==0.20.0 torchaudio==2.5.0 --index-url https://download.pytorch.org/whl/cu124

accelerate
datasets
diffusers
huggingface_hub
transformers
iopath
matplotlib
tqdm
omegaconf
sentencepiece
tensorboard
scipy
numba
einops
lightning
taming-transformers-rom1504
git+https://github.com/openai/CLIP.git@main#egg=clip
kornia